/* screen - catalogo-emprendedor2 */

.catalogo-emprendedor2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.catalogo-emprendedor2 .lo-de-abajo-xDGyfB::-webkit-scrollbar {
  display: none;
  width: 0;
}

.catalogo-emprendedor2 .lo-de-abajo-xDGyfB {
  background-color: transparent;
  height: 375px;
  left: 0px;
  mix-blend-mode: normal;
  overflow-y: scroll;
  position: absolute;
  top: 380px;
  width: 390px;
}

.catalogo-emprendedor2 .group-403-CxJp2u {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 352px;
  width: 329px;
}

.catalogo-emprendedor2 .conjunto-army-6qZ062 {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .cop-135000-6qZ062 {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .rectangle-1339-6qZ062 {
  background-color: transparent;
  height: 83px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 83px;
}

.catalogo-emprendedor2 .group-400-CxJp2u {
  background-color: transparent;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 13px;
  width: 327px;
}

.catalogo-emprendedor2 .plus-pOYQMC {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.catalogo-emprendedor2 .plus-13C4iS {
  background-color: transparent;
  height: 24px;
  left: 28px;
  position: absolute;
  top: 29px;
  width: 24px;
}

.catalogo-emprendedor2 .rectangle-1338-13C4iS {
  background-color: transparent;
  border-radius: 13px;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.catalogo-emprendedor2 .aadir-un-artculo-nuevo-pOYQMC {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .group-401-CxJp2u {
  background-color: transparent;
  cursor: pointer;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 126px;
  width: 327px;
}

.catalogo-emprendedor2 .plus-F6Xw4m {
  background-color: transparent;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.catalogo-emprendedor2 .plus-ZY37db {
  background-color: transparent;
  height: 24px;
  left: 28px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.catalogo-emprendedor2 .rectangle-1338-ZY37db {
  background-color: transparent;
  border-radius: 13px;
  height: 83px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}

.catalogo-emprendedor2 .aadir-una-coleccin-nueva-F6Xw4m {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .group-402-CxJp2u {
  background-color: transparent;
  cursor: pointer;
  height: 83px;
  left: 28px;
  position: absolute;
  top: 239px;
  width: 329px;
}

.catalogo-emprendedor2 .anillos-golden-e7yHId {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .cop-150000-e7yHId {
  background-color: transparent;
  height: 25px;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: 24.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 224px;
}

.catalogo-emprendedor2 .rectangle-1337-e7yHId {
  background-color: transparent;
  height: 83px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 83px;
}

.catalogo-emprendedor2 .group-272-xDGyfB {
  background-color: transparent;
  height: 237px;
  left: -12px;
  position: absolute;
  top: 106px;
  width: 414px;
}

.catalogo-emprendedor2 .rectangle-31-mKzSPA {
  background-color: transparent;
  height: 237px;
  left: 12px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor2 .rectangle-1337-mKzSPA {
  background-color: var(--osc-intermedio);
  height: 237px;
  left: 12px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor2 .nav-emprendimiento-xDGyfB {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.catalogo-emprendedor2 .rectangle-1463-o4eITo {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor2 .union-o4eITo {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.catalogo-emprendedor2 .union-3o8h0u {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.catalogo-emprendedor2 .union-4Jly0V {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.catalogo-emprendedor2 .union-eNvzEy {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.catalogo-emprendedor2 .somos-una-empresa-su-xDGyfB {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 240px;
  width: 303px;
}

.catalogo-emprendedor2 .blink-custom-jewels-xDGyfB {
  background-color: transparent;
  height: auto;
  left: 67px;
  letter-spacing: 0.00px;
  line-height: 28px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 210px;
  white-space: nowrap;
  width: 257px;
}

.catalogo-emprendedor2 .status-bar-i-phone-13-13-pro-xDGyfB {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.catalogo-emprendedor2 .indicators-iz4xq0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.catalogo-emprendedor2 .elements-signal-HdvwAW {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.catalogo-emprendedor2 .cellular-connection-ok4TH2 {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.catalogo-emprendedor2 .elements-connection-HdvwAW {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.catalogo-emprendedor2 .wifi-27tvnC {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.catalogo-emprendedor2 .elements-battery-HdvwAW {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.catalogo-emprendedor2 .border-Ke5E6Q {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.catalogo-emprendedor2 .cap-Ke5E6Q {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.catalogo-emprendedor2 .capacity-Ke5E6Q {
  background-color: var(--black);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.catalogo-emprendedor2 .mic-cam-iz4xq0 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.catalogo-emprendedor2 .elements-time-iz4xq0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.catalogo-emprendedor2 .time-DjMwKi {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.catalogo-emprendedor2 .admin-de-catlogo-xDGyfB {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 51px;
  width: auto;
}

.catalogo-emprendedor2 .vector-xDGyfB {
  background-color: transparent;
  cursor: pointer;
  height: 16px;
  left: 18px;
  position: absolute;
  top: 52px;
  width: 9px;
}
