/* screen - perfil-emprendedor2 */

.perfil-emprendedor2 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.perfil-emprendedor2 .vertical-5xbjtq {
  background-color: transparent;
  height: 347px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 422px;
  width: 390px;
}

.perfil-emprendedor2 .group-276-PjfShd {
  background-color: transparent;
  height: 167px;
  left: 26px;
  position: absolute;
  top: 476px;
  width: 200px;
}

.perfil-emprendedor2 .rectangle-1342-jqokzP {
  background-color: transparent;
  height: 1px;
  left: 83px;
  mix-blend-mode: normal;
  position: absolute;
  top: 83px;
  width: 1px;
}

.perfil-emprendedor2 .anillo-curvy-jqokzP {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-jqokzP {
  background-color: transparent;
  height: 23px;
  left: 12px;
  position: absolute;
  top: 143px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-tcdZYo {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .rectangle-1343-PjfShd {
  background-color: transparent;
  height: 49px;
  left: 207px;
  mix-blend-mode: normal;
  position: absolute;
  top: 358px;
  width: 168px;
}

.perfil-emprendedor2 .group-278-PjfShd {
  background-color: transparent;
  height: 26px;
  left: 26px;
  position: absolute;
  top: 58px;
  width: 128px;
}

.perfil-emprendedor2 .rectangle-1327-xx9KKD {
  background-color: transparent;
  border-radius: 7.5px;
  height: 26px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 128px;
}

.perfil-emprendedor2 .catlogo-PjfShd {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: auto;
}

.perfil-emprendedor2 .httpsbitlink828-PjfShd {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 62px;
  width: auto;
}

.perfil-emprendedor2 .comparte-el-link-de-tu-catlogo-PjfShd {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  width: auto;
}

.perfil-emprendedor2 .productos-PjfShd {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 270px;
  width: auto;
}

.perfil-emprendedor2 .aretes-wave-PjfShd {
  background-color: transparent;
  height: auto;
  left: 220px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 420px;
  width: 156px;
}

.perfil-emprendedor2 .group-275-PjfShd {
  background-color: transparent;
  height: 168px;
  left: 25px;
  position: absolute;
  top: 298px;
  width: 201px;
}

.perfil-emprendedor2 .rectangle-1342-EyF8QL {
  background-color: transparent;
  height: 49px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 60px;
  width: 168px;
}

.perfil-emprendedor2 .anillo-curvy-EyF8QL {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-EyF8QL {
  background-color: transparent;
  height: 23px;
  left: 13px;
  position: absolute;
  top: 144px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-yxEkqz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .group-273-PjfShd {
  background-color: transparent;
  height: 26px;
  left: 159px;
  position: absolute;
  top: 58px;
  width: 70px;
}

.perfil-emprendedor2 .rectangle-6-xXT6vx {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 26px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 70px;
}

.perfil-emprendedor2 .enviar-xXT6vx {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
  height: 26px;
  left: 5px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 61px;
}

.perfil-emprendedor2 .frame-104-PjfShd::-webkit-scrollbar {
  display: none;
  width: 0;
}

.perfil-emprendedor2 .frame-104-PjfShd {
  background-color: transparent;
  height: 185px;
  left: 0px;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 86px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1340-0awWKb {
  background-color: transparent;
  height: 126px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 212px;
}

.perfil-emprendedor2 .coleccin-anillo-0awWKb {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 119px;
  width: 156px;
}

.perfil-emprendedor2 .group-243-0awWKb {
  background-color: transparent;
  height: 23px;
  left: 40px;
  position: absolute;
  top: 140px;
  width: 194px;
}

.perfil-emprendedor2 .x15-productos-EBFLGB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 192px;
}

.perfil-emprendedor2 .rectangle-1341-0awWKb {
  background-color: transparent;
  height: 126px;
  left: 286px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 140px;
}

.perfil-emprendedor2 .conjunto-bestie-0awWKb {
  background-color: transparent;
  height: auto;
  left: 263px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 156px;
}

.perfil-emprendedor2 .group-270-0awWKb {
  background-color: transparent;
  height: 12px;
  left: 263px;
  position: absolute;
  top: 139px;
  width: 65px;
}

.perfil-emprendedor2 .x15-productos-JT9btU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor2 .rectangle-1464-0awWKb {
  background-color: var(--white);
  height: 125px;
  left: 462px;
  mix-blend-mode: normal;
  position: absolute;
  top: 42px;
  width: 26px;
}

.perfil-emprendedor2 .colecciones-PjfShd {
  background-color: transparent;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 99px;
  width: auto;
}

.perfil-emprendedor2 .group-272-PjfShd {
  background-color: transparent;
  height: 23px;
  left: 220px;
  position: absolute;
  top: 442px;
  width: 188px;
}

.perfil-emprendedor2 .x55000-N6XIa7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .group-277-PjfShd {
  background-color: transparent;
  height: 168px;
  left: 207px;
  position: absolute;
  top: 476px;
  width: 201px;
}

.perfil-emprendedor2 .rectangle-1342-t9GkuC {
  background-color: transparent;
  height: 1px;
  left: 84px;
  mix-blend-mode: normal;
  position: absolute;
  top: 84px;
  width: 1px;
}

.perfil-emprendedor2 .anillo-curvy-t9GkuC {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 124px;
  width: 156px;
}

.perfil-emprendedor2 .group-271-t9GkuC {
  background-color: transparent;
  height: 23px;
  left: 13px;
  position: absolute;
  top: 144px;
  width: 188px;
}

.perfil-emprendedor2 .x45000-utxmCT {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 186px;
}

.perfil-emprendedor2 .rectangle-16-5xbjtq {
  background-color: transparent;
  height: 67px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.perfil-emprendedor2 .rectangle-18-5xbjtq {
  background-color: var(--limon-osc);
  border-radius: 40px;
  height: 22px;
  left: 75px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.perfil-emprendedor2 .blink-custom-jewels-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.perfil-emprendedor2 .blinkcustomjewels-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.perfil-emprendedor2 .rectangle-8-5xbjtq {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor2 .iconly-bold-location-5xbjtq {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 15px;
}

.perfil-emprendedor2 .location-eBB4cG {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.perfil-emprendedor2 .location-xMXW3O {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.perfil-emprendedor2 .siguiendo-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.perfil-emprendedor2 .x29-emprendimientos-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.perfil-emprendedor2 .span0-c1GsND {
}

.perfil-emprendedor2 .span1-c1GsND {
}

.perfil-emprendedor2 .x233-seguidores-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.perfil-emprendedor2 .span0-CILao4 {
}

.perfil-emprendedor2 .span1-CILao4 {
}

.perfil-emprendedor2 .group-266-5xbjtq {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 312px;
  width: 42px;
}

.perfil-emprendedor2 .iconly-bold-setting-rRNOGF {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.perfil-emprendedor2 .setting-J7zMxi {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor2 .setting-jlIbP7 {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.perfil-emprendedor2 .rectangle-1327-rRNOGF {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.perfil-emprendedor2 .group-268-5xbjtq {
  background-color: transparent;
  height: 11px;
  left: 111px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.perfil-emprendedor2 .usuario-verificado-u0OE0G {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor2 .group-267-u0OE0G {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.perfil-emprendedor2 .subtract-QvREee {
  background-color: transparent;
  height: 9px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.perfil-emprendedor2 .star-1-5xbjtq {
  background-color: transparent;
  height: 11px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.perfil-emprendedor2 .emprendedor-5xbjtq {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 390px;
}

.perfil-emprendedor2 .vector-7-EHGEKp {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1336-EHGEKp {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .vector-8-EHGEKp {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 390px;
}

.perfil-emprendedor2 .iconly-bold-category-EHGEKp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 53px;
  position: absolute;
  top: 11px;
  width: 23px;
}

.perfil-emprendedor2 .category-wWzZmT {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor2 .category-Amib0R {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.perfil-emprendedor2 .vector-EHGEKp {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 141px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.perfil-emprendedor2 .icon-EHGEKp {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 18px;
}

.perfil-emprendedor2 .icon-2NF4QV {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 317px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 24px;
}

.perfil-emprendedor2 .editar-5xbjtq {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 177px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor2 .rectangle-1457-FPmDQO {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor2 .editar-catlogo-FPmDQO {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.perfil-emprendedor2 .status-bar-i-phone-13-13-pro-5xbjtq {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .indicators-iwooek {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.perfil-emprendedor2 .elements-signal-QFzcnM {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.perfil-emprendedor2 .cellular-connection-9w8TPJ {
  background-color: transparent;
  height: 12px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.perfil-emprendedor2 .elements-connection-QFzcnM {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.perfil-emprendedor2 .wifi-vnMAcH {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.perfil-emprendedor2 .elements-battery-QFzcnM {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.perfil-emprendedor2 .border-d28932 {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.perfil-emprendedor2 .cap-d28932 {
  background-color: transparent;
  height: 4px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.perfil-emprendedor2 .capacity-d28932 {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-emprendedor2 .mic-cam-iwooek {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.perfil-emprendedor2 .elements-time-iwooek {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.perfil-emprendedor2 .time-tYbuqu {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.perfil-emprendedor2 .group-261-5xbjtq {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor2 .rectangle-6-0tvQEz {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor2 .enviar-0tvQEz {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.perfil-emprendedor2 .cali-colombia-somos-5xbjtq {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 328px;
}

.perfil-emprendedor2 .span0-uIGHU4 {
}

.perfil-emprendedor2 .span1-uIGHU4 {
}

.perfil-emprendedor2 .nav-emprendimiento-5xbjtq {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 769px;
  width: 390px;
}

.perfil-emprendedor2 .rectangle-1463-ozxP7m {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor2 .union-ozxP7m {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.perfil-emprendedor2 .union-Xmlxns {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.perfil-emprendedor2 .union-4Pkxlo {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.perfil-emprendedor2 .union-8kzlK0 {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.perfil-emprendedor2 .chat-1-5xbjtq {
  background-color: transparent;
  height: 27px;
  left: 344px;
  position: absolute;
  top: 98px;
  width: 27px;
}
