/* screen - perfil-emprendedor-3 */

.perfil-emprendedor-3 {
  background-color: var(--white);
  height: 844px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-16-NgEzdx {
  background-color: transparent;
  height: 67px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 97px;
  width: 67px;
}

.perfil-emprendedor-3 .rectangle-18-NgEzdx {
  background-color: var(--limon-osc);
  border-radius: 40px;
  height: 22px;
  left: 75px;
  mix-blend-mode: normal;
  position: absolute;
  top: 143px;
  width: 22px;
}

.perfil-emprendedor-3 .blink-custom-jewels-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 101px;
  width: auto;
}

.perfil-emprendedor-3 .blinkcustomjewels-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 123px;
  width: auto;
}

.perfil-emprendedor-3 .cali-colombia-somos-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  position: absolute;
  text-align: left;
  top: 185px;
  width: 328px;
}

.perfil-emprendedor-3 .span0-BvshRm {
}

.perfil-emprendedor-3 .span1-BvshRm {
}

.perfil-emprendedor-3 .rectangle-8-NgEzdx {
  background-color: transparent;
  height: 72px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor-3 .iconly-bold-location-NgEzdx {
  background-color: transparent;
  height: 16px;
  left: 26px;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 15px;
}

.perfil-emprendedor-3 .location-7oQE1u {
  background-color: transparent;
  height: 13px;
  left: 2px;
  position: relative;
  top: 1px;
  width: 11px;
}

.perfil-emprendedor-3 .location-0xC6HH {
  background-color: transparent;
  height: 13px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.perfil-emprendedor-3 .group-261-NgEzdx {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 25px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor-3 .rectangle-6-wU4L6q {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor-3 .enviar-wU4L6q {
  background-color: transparent;
  height: 38px;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 125px;
}

.perfil-emprendedor-3 .siguiendo-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: auto;
}

.perfil-emprendedor-3 .x29-emprendimientos-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.perfil-emprendedor-3 .span0-Yp2Ys6 {
}

.perfil-emprendedor-3 .span1-Yp2Ys6 {
}

.perfil-emprendedor-3 .x233-seguidores-NgEzdx {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 143px;
  width: auto;
}

.perfil-emprendedor-3 .span0-TEH8P5 {
}

.perfil-emprendedor-3 .span1-TEH8P5 {
}

.perfil-emprendedor-3 .group-266-NgEzdx {
  background-color: transparent;
  height: 38px;
  left: 329px;
  position: absolute;
  top: 312px;
  width: 42px;
}

.perfil-emprendedor-3 .iconly-bold-setting-id0O3u {
  background-color: transparent;
  height: 24px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 7px;
  width: 24px;
}

.perfil-emprendedor-3 .setting-MlxySd {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor-3 .setting-HyVnXC {
  background-color: transparent;
  height: 20px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 19px;
}

.perfil-emprendedor-3 .rectangle-1327-id0O3u {
  background-color: transparent;
  border-radius: 7.5px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 42px;
}

.perfil-emprendedor-3 .star-1-NgEzdx {
  background-color: transparent;
  height: 11px;
  left: 80px;
  mix-blend-mode: normal;
  position: absolute;
  top: 148px;
  width: 11px;
}

.perfil-emprendedor-3 .group-268-NgEzdx {
  background-color: transparent;
  height: 11px;
  left: 111px;
  position: absolute;
  top: 88px;
  width: 95px;
}

.perfil-emprendedor-3 .usuario-verificado-g20Tcw {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.perfil-emprendedor-3 .group-267-g20Tcw {
  background-color: transparent;
  height: 9px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 9px;
}

.perfil-emprendedor-3 .subtract-wi9cQh {
  background-color: transparent;
  height: 9px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 9px;
}

.perfil-emprendedor-3 .emprendedor-NgEzdx {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 366px;
  width: 390px;
}

.perfil-emprendedor-3 .vector-7-wsEKXO {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-1336-wsEKXO {
  background-color: var(--white);
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .iconly-bold-category-wsEKXO {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 53px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 23px;
}

.perfil-emprendedor-3 .category-jsByyF {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.perfil-emprendedor-3 .category-HQXCJR {
  background-color: transparent;
  height: 20px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 19px;
}

.perfil-emprendedor-3 .vector-wsEKXO {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  left: 141px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.perfil-emprendedor-3 .icon-wsEKXO {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 232px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11px;
  width: 18px;
}

.perfil-emprendedor-3 .icon-wWxorG {
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  left: 317px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 24px;
}

.perfil-emprendedor-3 .status-bar-i-phone-13-13-pro-NgEzdx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .indicators-yzcgh9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  left: 285px;
  position: absolute;
  top: 19px;
}

.perfil-emprendedor-3 .elements-signal-lWzYp0 {
  background-color: transparent;
  height: 12.000133514404297px;
  mix-blend-mode: normal;
  position: relative;
  width: 19.970584869384766px;
}

.perfil-emprendedor-3 .cellular-connection-acK5Ax {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 20px;
}

.perfil-emprendedor-3 .elements-connection-lWzYp0 {
  background-color: transparent;
  height: 12.5px;
  mix-blend-mode: normal;
  position: relative;
  width: 17px;
}

.perfil-emprendedor-3 .wifi-qz5uqx {
  background-color: transparent;
  height: 12px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 17px;
}

.perfil-emprendedor-3 .elements-battery-lWzYp0 {
  background-color: transparent;
  height: 13px;
  mix-blend-mode: normal;
  position: relative;
  width: 27.329999923706055px;
}

.perfil-emprendedor-3 .border-XpHmIl {
  background-color: transparent;
  border-radius: 4px;
  height: 13px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  width: 25px;
}

.perfil-emprendedor-3 .cap-XpHmIl {
  background-color: transparent;
  height: 4px;
  left: 25px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: 1px;
}

.perfil-emprendedor-3 .capacity-XpHmIl {
  background-color: var(--white);
  border-radius: 2px;
  height: 9px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-emprendedor-3 .mic-cam-yzcgh9 {
  background-color: transparent;
  height: 6px;
  left: 282px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.perfil-emprendedor-3 .elements-time-yzcgh9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 46px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
}

.perfil-emprendedor-3 .time-ZyAXAK {
  background-color: transparent;
  letter-spacing: -0.50px;
  line-height: 17px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.perfil-emprendedor-3 .frame-88-NgEzdx {
  background-color: transparent;
  height: 474px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 422px;
  width: 390px;
}

.perfil-emprendedor-3 .contenido-2XaqpH {
  background-color: transparent;
  border-radius: 7.42px;
  height: 241px;
  left: 200px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .contenido-XiPpBF {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-XiPpBF {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-0fWP4I {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-XiPpBF {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.perfil-emprendedor-3 .view-MnTo65 {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-x0G2PB {
  background-color: transparent;
  height: 9px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 13px;
}

.perfil-emprendedor-3 .ellipse-31-x0G2PB {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-MnTo65 {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .x913-MnTo65 {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-MnTo65 {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-XiPpBF {
  background-color: transparent;
  height: 10px;
  left: 72px;
  mix-blend-mode: normal;
  position: absolute;
  top: 220px;
  width: 12px;
}

.perfil-emprendedor-3 .group-270-2XaqpH {
  background-color: transparent;
  border-radius: 10px;
  height: 241px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-N9rqqh {
  background-color: transparent;
  height: 241px;
  left: 0px;
  opacity: 0.5;
  position: relative;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-XU1nvg {
  background-color: transparent;
  height: 241px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-272-2XaqpH {
  background-color: transparent;
  border-radius: 7.4px;
  height: 241px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 178px;
}

.perfil-emprendedor-3 .group-272-QvuzE2 {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-QvuzE2 {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-u3UC94 {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-QvuzE2 {
  background-color: transparent;
  height: 57px;
  left: 11px;
  position: absolute;
  top: 177px;
  width: 159px;
}

.perfil-emprendedor-3 .view-Xev5ws {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 44px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-UNRTr4 {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.perfil-emprendedor-3 .ellipse-31-UNRTr4 {
  background-color: transparent;
  border-radius: 2.19px/2.05px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-Xev5ws {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.perfil-emprendedor-3 .x913-Xev5ws {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-Xev5ws {
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-QvuzE2 {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.perfil-emprendedor-3 .group-271-2XaqpH {
  background-color: transparent;
  border-radius: 7.44px;
  height: 241px;
  left: 200px;
  position: absolute;
  top: 250px;
  width: 178px;
}

.perfil-emprendedor-3 .group-244-mjyyQK {
  background-color: transparent;
  height: 241px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 178px;
}

.perfil-emprendedor-3 .rectangle-54-XvfxjC {
  background-color: transparent;
  height: 172px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 178px;
}

.perfil-emprendedor-3 .group-243-mjyyQK {
  background-color: transparent;
  height: 41px;
  left: 11px;
  position: absolute;
  top: 193px;
  width: 159px;
}

.perfil-emprendedor-3 .view-xJXMkE {
  background-color: transparent;
  height: 12px;
  left: 1px;
  position: absolute;
  top: 28px;
  width: 13px;
}

.perfil-emprendedor-3 .intersect-NxhSPc {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 1px;
}

.perfil-emprendedor-3 .ellipse-31-NxhSPc {
  background-color: transparent;
  border-radius: 2.19px/2.04px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.perfil-emprendedor-3 .x1029-xJXMkE {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .x913-xJXMkE {
  background-color: transparent;
  height: auto;
  left: 75px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 27px;
  width: auto;
}

.perfil-emprendedor-3 .vengan-a-probar-anitasbowls-xJXMkE {
  background-color: transparent;
  height: 16px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 153px;
}

.perfil-emprendedor-3 .heart-mjyyQK {
  background-color: transparent;
  height: 1px;
  left: 78px;
  mix-blend-mode: normal;
  position: absolute;
  top: 226px;
  width: 1px;
}

.perfil-emprendedor-3 .camera-2XaqpH {
  background-color: transparent;
  height: 59px;
  left: 73px;
  position: absolute;
  top: 76px;
  width: 59px;
}

.perfil-emprendedor-3 .rectangle-354-QQw3fc {
  background-color: transparent;
  height: 49px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 54px;
}

.perfil-emprendedor-3 .ellipse-57-QQw3fc {
  background-color: transparent;
  border: 4.8px solid var(--white);
  border-radius: 12.21px;
  height: 24px;
  left: 17px;
  position: absolute;
  top: 20px;
  width: 24px;
}

.perfil-emprendedor-3 .agregar-contenido-2XaqpH {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 147px;
  width: 152px;
}

.perfil-emprendedor-3 .nav-emprendimiento-NgEzdx {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 771px;
  width: 390px;
}

.perfil-emprendedor-3 .rectangle-1463-lPRoMk {
  background-color: var(--white);
  height: 75px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 390px;
}

.perfil-emprendedor-3 .union-lPRoMk {
  background-color: transparent;
  cursor: pointer;
  height: 35px;
  left: 225px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 37px;
}

.perfil-emprendedor-3 .union-RtVpqN {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 26px;
}

.perfil-emprendedor-3 .union-q6C0iE {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 46px;
}

.perfil-emprendedor-3 .union-6XoFQo {
  background-color: transparent;
  cursor: pointer;
  height: 36px;
  left: 330px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 23px;
}

.perfil-emprendedor-3 .editar-NgEzdx {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  left: 177px;
  position: absolute;
  top: 312px;
  width: 145px;
}

.perfil-emprendedor-3 .rectangle-1457-MSWsI6 {
  background-color: var(--cielo);
  border-radius: 7px;
  height: 38px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 145px;
}

.perfil-emprendedor-3 .editar-catlogo-MSWsI6 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 145px;
}

.perfil-emprendedor-3 .chat-1-NgEzdx {
  background-color: transparent;
  height: 27px;
  left: 344px;
  position: absolute;
  top: 98px;
  width: 27px;
}
